<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <canvas width="500" height="500"></canvas>
    <script>
        var canvas = document.querySelector('canvas');
        var ctx = canvas.getContext('2d');
        ctx.fillStyle = 'red';
        ctx.fillRect(50, 50, 100, 200);
        ctx.fillStyle = 'black';
        ctx.fillRect(150, 50, 100, 200);
        ctx.fillStyle = 'yellow';
        ctx.fillRect(60, 60, 80, 150);
        ctx.fillStyle = 'blue';
        ctx.fillRect(80, 80, 50, 100);

         ctx.beginPath();
        ctx.fillStyle = 'blue';
        ctx.ellipse(300, 300, 50, 50, 0, 0, Math.PI * 2);
        ctx.fill();
    </script>
</body>
</html>